/* GENERAL STYLES */
html, body {
  margin: 0;
  padding: 0;
  font-size: 16px;
  font-family: 'Patua One', cursive;

}

a {
  text-decoration: none;
  color: black;
}
/* ========================================================================== */
/* NAVBAR (top bar) */
.navbar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 4rem;
  width: 100%;
  background-color: hsla(360, 100%, 22%, 0.95);
  font-family: 'Francois One', sans-serif;
}

.logo {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-left: 1.5rem;
  height: 2rem;
  font-size: 1.5rem;
}

.logo img {
  height: 2.7rem;
  width: auto;
}

.logo #colmar {
  text-decoration: overline;
}

.logo #academy {
  color: hsla(360, 0%, 93%, 0.96);
  text-decoration: underline
}

nav {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-right: 0.5rem;
  width: auto;
  height: 2rem;
}

nav li {
  display: inline-block;
  padding-right: 0.5rem;
  margin-right: 0.5rem;
  font-size: 1.2rem;
  color: black;
}

nav .nav-elements {
  border-right: 2px solid black;
}

nav a:hover {
  color: white;
  font-weight: bold;
  transition: color 0.2s linear;
}
/* ========================================================================== */
/* PAGE ONE */
.page-one {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  padding-top: 4rem;
  height: 52.932625;
  width: 100%;
  background-color: hsla(360, 0%, 97%, 1);
  z-index: 1;
}

/* left side */
.page-one .left-side {
  margin: 1.5rem 1.5rem 2rem 1.5rem;
  height: auto;
  max-width: 60%;
}

.page-one .left-side img{
  width: 100%;
  height: 100%;
}

/* right side */
.page-one .right-side {
  display: flex;
  flex-wrap: wrap;
  max-height: 24.5rem;
  max-width: 26.8rem;
  padding: 15rem 0;
}

.page-one h1 {
  font-size: 3.5rem;
  letter-spacing: 0.05rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.page-one p {
  font-size: 2rem;
  margin-bottom: 3rem;
}

.page-one .button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  border-radius: 0.5rem;
  background-color: hsla(360, 100%, 22%, 0.95);
  text-align: center;
  height: 3rem;
}

.page-one .button a {
  padding: 0.5rem 0;
  font-weight: bold;
  font-size: 1.5rem;
  color: white;
  letter-spacing: 0.1rem;
}

.page-one .button a:hover {
  color: black;
}
/* ========================================================================== */
/* PAGE TWO */
.page-two {
  display: flex;
  height: auto;
  width: 100%;
  background-color: white;
}

/* left side */
.page-two .left-side {
  height: auto;
  width: 60%;
  margin: 2rem 1.5rem;
  padding: 2rem 0;
}

.page-two .left-side-text {
  height: auto;
}

.page-two .left-side img {
  margin-bottom: 2rem;
  width: 100%;
  height: auto;
}

.page-two h2 {
  font-size: 3.5rem;
  font-weight: bold;
  margin-bottom: 3rem;
}

.page-two .left-side p {
  margin-bottom: 4rem;
  font-size: 1.6rem;
}

/* Right side */
.information {
  width: 40%;
  border-left: 2px solid hsla(360, 0%, 97%, 1);
  padding: 3rem 0;
}

.information .rectangle {
  display: flex;
  align-items: center;
  border-bottom: 2px solid hsla(360, 0%, 97%, 1);
}

.information-text {
  width: 65%;
}

.information img {
  padding: 1rem;
  width: 35%;
  height: auto;
}

.information h3 {
  font-size: 2rem;
  letter-spacing: 0.1rem;
  font-weight: bold;
  width: 100%;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.information p {
  width: 100%;
  margin-bottom: 1rem;
  font-size: 1.5rem;
}

.information a{
  font-size: 1.5rem;
  color: hsla(190, 100%, 45%, 1);
}

.information a:hover {
  font-weight: bold;
  color: hsla(190, 100%, 27%, 1);
  transition: color 0.1s linear;
}
/* __________________________________________________________________________ */
